.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

	border: 1px solid gray;
	border-radius: 1rem;
	padding: 1rem;
	margin-bottom: 1rem;
}

.status,
.role,
.action {
	width: 20%;
	/* border: solid 1px; */

	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
}

.name {
	width: 45%;
	font-weight: bold;
}

button {
	border: solid 1px black;
	border-radius: 0.25rem;
	background-color: white;
	color: black;
	font-weight: 100;
}

button:hover {
	background-color: black;
	color: white;
	transition: 500ms;
	transform: scale(1.04, 1.04);
}
